script(id="car" type="text/x-kendo-template")
  div(
    data-bind="source: car"
    data-template="carTemplate"
  )

script(id="carTemplate" type="text/x-kendo-template")
  h1 #:manufacturer# #:model# #:year#
  h2 #:kendo.toString(price, "c")#
  div #for (let i = 0; i < photos.length; i++) {#<img src="#=photos[i]#" alt="img" >#}#
  p #:transmissionType# transmission
  p Fuel type - #:fuelType#
  p #:kilometrage * 1000# km
  p #:views# views
