doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles/bootstrap.min.css')
    link(rel='stylesheet', href='/styles/kendo.common-material.min.css')
    link(rel='stylesheet', href='/styles/kendo.materialblack.min.css')
    link(rel='stylesheet', href='/styles/style.css')

    script(src='libs/jquery.min.js')
    script(src='libs/kendo.all.min.js')

    script(src='js/index.js')

    include templates.html

  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href="/") CCars

        .navbar-form.navbar-right
          .form-group
            input.form-control(type="text")
          button.btn.btn-default Search

    .container
      block content

