body {
    display: block;
    margin: 0px;
    padding-top: 60px;
}

#cars {
  position: relative;
  display: flex;
  flex-flow: row wrap;
}

.car {
  margin: 4px;
  flex: 0 1 calc(20% - 8px);
}

.car > img {
  width: 100%;
  height: auto;
}

