body {
    display: block;
    margin: 0px;
}

#app {
    max-width:72%;
    margin: 0 auto;
    background: #fff;
}

#carCards {
  position: relative;
  display: flex;
  flex-flow: row wrap;
}

.carCard {
  margin: 4px;
  flex: 0 1 calc(20% - 8px);
}

.carCard img {
  width: 100%;
  height: auto;
}

#filterForm {
  float: right;
}

img {
  width: 100%;
  height: auto;
}
