body {
    display: block;
    margin: 0px;
}

#cars {
  position: relative;
  display: flex;
  flex-flow: row wrap;
}

.car {
  margin: 4px;
  flex: 0 1 calc(20% - 8px);
}

.car > img {
  width: 100%;
  height: auto;
}

#page {
    max-width:72%;
    margin: 0 auto;
    background: #fff;
}
