doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles/kendo.common-material.min.css')
    link(rel='stylesheet', href='/styles/kendo.material.min.css')
    link(rel='stylesheet', href='/styles/style.css')

    script(src='libs/jquery.min.js')
    script(src='libs/kendo.all.min.js')

    include templates/layout.pug

    include templates/index.pug
    include templates/404.pug
    include templates/filter.pug

    include templates/carCard.pug
  body#app
