doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles/kendo.common-material.min.css')
    link(rel='stylesheet', href='/styles/kendo.material.min.css')
    link(rel='stylesheet', href='/styles/style.css')

    script(src='libs/jquery.min.js')
    script(src='libs/kendo.all.min.js')

    include templates.html

  body
    #page
      ul#menu
        li
          a.navbar-brand(href="/#") CCars
      block content

